<html> 
    <head> 

    </head>

    <body> 
        <form action="/AreaRettangolo/Diagonale" method = 'GET'>
            Inserire la base: <br>
            <input type = 'text' name = 'base'><br><br>
            Inserire l'altezza: <br>
            <input type = 'text' name = 'altezza'><br><br>
            Scegli cosa vuoi calcoare: <br>
            <input type = 'radio' name = 'scelta' value = 'A'> Area<br>
            <input type = 'radio' name = 'scelta' value = 'D'> Diagonale<br>
            <input type="submit" value='invia'>
        </form>
    </body>
    
</html>